*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
.ipynb_checkpoints
_site/
.sass-cache/
seeds.txt

content/**/*.md
!content/**/_index.md
!content/_index.md

dist/content/lessons/
!dist/content/lessons/_index.md

dist/content/primers/
!dist/content/primers/_index.md

dist/content/capstones/
!dist/content/capstones/_index.md

dist/data/dependencies

dist/**/_gen

Manifest.toml

.vscode