*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
.ipynb_checkpoints
_site/
.sass-cache/
seeds.txt

content/**/*.md
!content/**/_index.md
!content/_index.md

dist/content/**/*.md
dist/content/**/*.png
dist/static/plots/*png
!dist/content/_index.md
!dist/content/about.md

dist/data/dependencies

dist/**/_gen

Manifest.toml

.vscode
.VSCodeCounter

.hugo_build.lock