@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,600,600i|IBM+Plex+Sans+Condensed:300,300i,400,400i,600,600i|IBM+Plex+Sans:300,300i,400,600,600i|IBM+Plex+Serif:400,400i,600,600i&subset=greek');

:root {

  --font-main: "IBM Plex Serif";
  --font-title: "IBM Plex Sans";
  --font-meta: "IBM Plex Sans Condensed";
  --font-code: "IBM Plex Mono";

  --font-size: 1.1rem;
  --font-lh: 1.8rem;
}
