@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Mono:400,400i,500,500i|Roboto+Slab:300,400,700|Roboto:400,400i,500,500i&subset=greek,greek-ext');
:root {

  --font-main: "Roboto";
  --font-title: "Roboto Slab";
  --font-meta: "Roboto Condensed";
  --font-code: "Roboto Mono";

  --font-size: 13pt;
  --font-lh: 1.7em;
}
