:root {
  --color-warning: rgb(231, 147, 69);
  --color-danger: rgb(204, 76, 53);
  --color-opinion: rgb(98, 137, 190);
  --color-information: rgb(141, 113, 148);

  --color-title: rgb(18, 124, 110);
  --color-fg: rgb(30, 30, 30);
  --color-bg: rgb(255, 255, 255);

  --color-copy-a: rgb(125, 170, 108);
  --color-copy-a-hover: rgb(84, 108, 74);

  --color-lightest: hsl(0, 2%, 95%);
  --color-lighter: hsl(0, 2%, 90%);
  --color-light: hsl(0, 2%, 75%);
  --color-medium: hsl(0, 2%, 60%);
  --color-dark: hsl(0, 2%, 45%);
  --color-darker: hsl(0, 2%, 30%);
  --color-darkest: hsl(0, 2%, 25%);
}
