@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,300i,400,400i,500,500i|Barlow:400,400i,500,500i,600,600i');

html, body {
  font-family: "Barlow";
  font-size: 16px;
  margin: 0 0;
  padding: 0 0;
  background-color: var(--color-bg);
}

h1, h2, h3, h4 {
  font-family: "Barlow Semi Condensed";
  font-weight: 500;
  color: var(--color-title);
}

code {
  font-family: "Hack";
}

section#navigation {
  background-color: #ffffff;
  font-family: "Barlow Semi Condensed";
  box-shadow: 0px 0px 2px #d7d8da;
  padding: 4px;
  line-height: 60px;
  font-size: 18px;
  position: fixed;
  background-color: white;
  top: 0;
  width: 100vw;
  z-index: 9999;
  .main {
    float: right;
    margin: 0px 1em;
  }
  a {
    text-decoration: none;
    text-transform: lowercase;
    font-variant: small-caps;
    color: rgb(79, 79, 79);
    padding: 0em 0.5em;
    &.active {
      color: black;
    }
  }
  img {
    vertical-align: top;
    padding-right: 4px;
  }
  * {
    display: inline-block;
  }
  .title {
    color: var(--color-title);
    font-weight: 500;
  }
  .subtitle {
    font-weight: 300;
  }
  .header {
    text-transform: uppercase;
  }
}

section#content {
  max-width: 870px;
  color: var(--color-fg);
  margin: 20px auto;
  padding: 1em;
  padding-top: 5em;
  line-height: 1.8rem;
  font-size: 1.1rem;
  p {
    code {
      font-size: 0.95rem;
    }
  }
  a {
    text-decoration: none;
    color: var(--color-copy-a);
    &:hover {
      font-weight: bold;
    }
  }
}

pre {
  font-size: 0.9rem;
  line-height: 1.5rem;
  white-space: pre-wrap;
  code {
    color: #777;
    .cm {
      color: #555;
      font-style: italic;
    }
    .k {
      color: #009e73;
    }
    .mi, .mf {
      color: #d55e00;
    }
    .o {
      color: #56b4e9;
    }
    .s {
      color: #cc79a7;
    }
  }
}



code.language-julia {
  color: black;
  &::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f120";
    margin-right: 1em;
    font-size: 0.7rem;
    width: 1.8rem;
    text-align: center;
    display: inline-block;
    margin-left: -3.5em;
    color: var(--color-accent);
  }
}

code.language-raw {
  color: rgb(62, 62, 62);
  &::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f121";
    margin-right: 1em;
    font-size: 0.7rem;
    width: 1.8rem;
    text-align: center;
    display: inline-block;
    margin-left: -3.5em;
    color: var(--color-accent);
  }
}

section.intro {
  margin-bottom: 4em;
}

section.resource {
  font-size: 90%;
  background-color: var(--color-lighter);
  border: 1px solid var(--color-medium);
  padding: 0;
  margin-bottom: 3em;
  h1 {
    margin-top: 0em;
    padding: 0.6em;
    background-color: var(--color-light);
    .lessonlink {
      float: right;
    }
  }
  .listicle, .summary {
    padding: 0.6em;
  }
  .package {
    background-color: var(--color-medium);
    color: var(--color-lighter);
    font-size: 90%;
    padding: 2px;
    border-radius: 4px;
    margin-right: 5px;
  }
}

figure {
  width: 95%;
  background-color: white;
  border: 1px solid var(--color-medium);
  padding: 1em;
  margin: 2em auto;
  img {
    width: 70%;
    margin: 1em 15%;
  }
  figcaption {
    margin: -1em -1em;
    padding: 1em;
    background-color: var(--color-light);
    h4 {
      margin: 0 0;
      color: rgb(76, 78, 78);
      font-weight: 400;
    }
  }
}


#status{
  color: #555;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 4em;
  &.construction {
    background:var(--color-construction-bg);
    border:1px solid var(--color-construction-border);
    .status-message::before {
      content: "This lesson is in construction — it is most likely unfinished; you are welcome to contribute by opening an issue if you see areas you can improve.";
    }
  }
  &.draft {
    background:var(--color-draft-bg);
    border:1px solid var(--color-draft-border);
    .status-message::before {
      content: "This lesson is a draft — it is usable and 90% finished, but some concepts may not presented in the most efficient way.";
    }
  }
  &.overhaul {
    background:var(--color-overhaul-bg);
    border:1px solid var(--color-overhaul-border);
    .status-message::before {
      content: "This lesson is being re-written. Content may not be up to date.";
    }
  }
  a {
    float: right;
    color: #555 !important;
  }
}

.callout {
  border-radius: 0.1rem;
  background-color: white;
  border: 1px solid #f5f5f5;
  padding: 1rem;
  p {
    display: inline;
  }
  &::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    margin-right: 0.5em;
    font-size: 0.9rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 1.65rem;
    text-align: center;
    display: inline-block;
  }
  &.opinion {
    color: rgb(98, 137, 190);
    &::before {
      content: "\f0eb";
      background-color: lighten(rgb(98, 137, 190), 20%);
      border: 1px solid lighten(rgb(98, 137, 190), 10%);
    }
  }
  &.warning {
    color: rgb(231, 147, 69);
    &::before {
      content: "\f12a";
      background-color: lighten(rgb(231, 147, 69), 20%);
      border: 1px solid lighten(rgb(231, 147, 69), 10%);
    }
  }
  &.danger {
    color: rgb(204, 76, 53);
    &::before {
      content: "\f05e";
      background-color: lighten(rgb(204, 76, 53), 20%);
      border: 1px solid lighten(rgb(204, 76, 53), 10%);
    }
  }
}
