@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,300i,400,400i,500,500i|Barlow:400,400i,500,500i,600,600i');

html, body {
  font-family: "Barlow";
  font-size: 16px;
  margin: 0 0;
  padding: 0 0;
  background-color: rgb(252, 252, 252);
}

h1, h2, h3, h4 {
  font-family: "Barlow Semi Condensed";
  font-weight: 500;
  color: #227066;
}

code {
  font-family: "Hack";
}

section#navigation {
  background-color: #ffffff;
  font-family: "Barlow Semi Condensed";
  box-shadow: 0px 0px 2px #d7d8da;
  padding: 4px;
  line-height: 60px;
  font-size: 18px;
  img {
    vertical-align: top;
    padding-right: 4px;
  }
  * {
    display: inline-block;
  }
}

section#content {
  max-width: 900px;
  color: rgb(30, 30, 30);
  margin: 20px auto;
  padding: 1em;
  line-height: 1.8rem;
  font-size: 1.1rem;
  p {
    code {
      font-size: 0.95rem;
    }
  }
  a {
    text-decoration: none;
    color: #76a665;
    &:hover {
      background-color: ligten(#76a665, 20%);
    }
  }
}

pre {
  font-size: 0.9rem;
  line-height: 1.5rem;
  code {
    color: #777;
    .cm {
      color: #555;
      font-style: italic;
    }
    .k {
      color: #009e73;
    }
    .mi, .mf {
      color: #d55e00;
    }
    .o {
      color: #56b4e9;
    }
    .s {
      color: #cc79a7;
    }
  }
}



code.language-julia {
  color: #123456;
  &::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f120";
    margin-right: 1em;
    font-size: 0.7rem;
    width: 1.8rem;
    text-align: center;
    display: inline-block;
    margin-left: -3.5em;
    //background-color: rgb(227, 227, 227);
    color: #76a665;
  }
}

code.language-raw {
  &::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f121";
    margin-right: 1em;
    font-size: 0.7rem;
    width: 1.8rem;
    text-align: center;
    display: inline-block;
    margin-left: -3.5em;
    color: #76a665;
  }
}

section.intro {
  margin-bottom: 4em;
}

section.resource {
  font-size: 90%;
  background-color: #fefefe;
  border: 1px solid #f1f1f1;
  padding: 0;
  margin-bottom: 3em;
  h1 {
    margin-top: 0em;
    padding: 0.6em;
    background-color: #f5f5f5;
    .lessonlink {
      float: right;
    }
  }
  .listicle, .summary {
    padding: 0.6em;
  }
}

figure {
  width: 100%;
  background-color: white;
  border: 1px solid #f1f1f1;
  padding: 1em;
  margin: 2em 0em;
  img {
    width: 70%;
    margin: 1em 15%;
  }
  figcaption {
    margin: -1em -1em;
    padding: 1em;
    background-color: #f5f5f5;
    h4 {
      margin: 0 0;
      color: rgb(76, 78, 78);
      font-weight: 400;
    }
  }
}
