---
---

@import "fonts";
@import "colors";
@import "palette-{{site.palette}}";
@import "callouts";
@import "code";

* {
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
}

h2 {
  font-weight: 400;
  margin-top: 3em;
  &:first-of-type {
    margin-top: 0em;
  }
}

.title, .subtitle, h1, h2, h3, h4, h5, h6 {
  color: $color-highlights;
}

h1, h2 {
  font-weight: 500;
}
h3, h4, h5, h6 {
  font-weight: 400;
}

.content {
  a {
    color: $color-href;
    text-decoration: none;
    &:hover {
      color: darken($color-href, 5%);
    }
  }
}

.lead {
  font-weight: 500;
}

html, body {
  margin: 0 0;
  height: 100%;
}


.content {
  max-width: 1100px;
  margin: 0px auto;
  padding: 5em;
  margin-top: 4em;
  font-size: 1.1rem;
  line-height: 1.8rem;
  p {
    clear: both;
  }
}

.topbar {
  box-shadow: 0px 0px 2px #d7d8da;
  height: 5em;
  z-index: 100;
  font-size: 1.0rem;
  width: 100%;
  position: fixed;
  top: 0;
  line-height: 2em;
  padding: 1.5em 6em;
  * {
    display: inline-block;
  }
  img {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: 4em;
    height: 4em;
  }
  text-transform: uppercase;
  .title {
    font-weight: 500;
  }
  .links {
    padding-left: 3em;
    float: right;
    a {
      padding: 0em 1em;
      color: #777;
      text-decoration: none;
      &:hover {
        color: #444;
      }
      &.disabled {
        color: #ccc;
      }
    }
  }
}

.callout {
  border-radius: 4px;
  padding: 1em;
}

p.callout {
  clear: none;
}

.leftbutton, .rightbutton {
  text-align: center;
  width: 40%;
  display: table;
}

.leftbutton {
  float: left;
  margin-left: 2em;
}

.rightbutton {
  float: right;
  margin-right: 2em;
}

.card {
  border-radius: 4px;
  padding: 2em 1em;
  width: 31%;
  margin: 1%;
  float: left;
  font-size: 90%;
  .launch {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background-color: #fafbfc;
    margin-left: -1em;
    margin-right: -1em;
    padding: 0.5em;
    text-align: center;
    font-weight: 500;
  }
  .head {
    text-align: center;
    font-weight: 500;
    font-size: 110%;
    margin-top: 0em;
  }
}


.sep {
  color: #cecece;
  padding: 0px 1em;
}


.sidebar {
  position: absolute;
  bottom: 1em;
  left: 0;
  .item {
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    text-align: center;
    border: 1px solid darken($color-bg, 10%);
    background: lighten($color-bg, 10%);
    font-size: 0.8em;
    padding-top: 0.7em;
    margin-left: 1em;
    margin-bottom: 1em;
    color: $color-href;
    .desc {
      display: inline-block;
      visibility: collapse;
    }
    &:hover {
      color: $color-highlights;
      background: lighten($color-bg, 3%);
      .desc {
        display: inline-block;
        visibility: visible;
        position: absolute;
        right: -8.5em;
        width: 8em;
        text-align: left;
      }
    }
  }
}
