---
---

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500|Fira+Sans+Extra+Condensed:400,400i|Fira+Sans:400,400i,500,500i');

* {
  box-sizing: border-box;
}

body, html {
  font-family: "Fira Sans";
  overflow-x: hidden;
}

b, strong {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans Condensed";
}

h2 {
  font-weight: 400;
  margin-top: 3em;
  &:first-of-type {
    margin-top: 0em;
  }
}

.title, .subtitle, h1, h2, h3, h4, h5, h6 {
  color: rgb(102, 186, 84);
}

.content {
  a {
    color: rgb(168, 80, 215);
    text-decoration: none;
    &:hover {
      color: rgb(165, 60, 222);
    }
  }
}

pre, code {
  font-family: "Fira Mono" !important;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.lead {
  font-weight: 500;
}

html, body {
  margin: 0 0;
  height: 100%;
  background-color: #f7f7f7;
}

.topbar, .content {
  padding: 2em;
}

.content {
  max-width: 900px;
  margin: 0px auto;
  margin-top: 4em;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #222;
  p {
    clear: both;
  }
}

.topbar {
  box-shadow: 0px 0px 2px #d7d8da;
  z-index: 100;
  font-size: 0.9rem;
  * {
    display: inline-block;
  }
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  background-color: white;
  text-transform: uppercase;
  .title {
    font-weight: 800;
  }
  .links {
    padding-left: 3em;
    a {
      padding: 0em 1em;
      color: #777;
      text-decoration: none;
      &:hover {
        color: #444;
      }
      &.disabled {
        color: #ccc;
      }
    }
  }
}

.callout {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fcfdfe;
  padding: 1em;
}

p.callout {
  clear: none;
}

.leftbutton, .rightbutton {
  text-align: center;
  width: 40%;
  display: table;
}

.leftbutton {
  float: left;
  margin-left: 2em;
}

.rightbutton {
  float: right;
  margin-right: 2em;
}

pre, code {
  color: #e69f00;
}

pre {
  margin: 0px auto;
  padding: 1em 0em;
  font-size: 90%;
  line-height: 1.2rem;
}

.language-julia {
  background-color: #fefefe;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  width: 100vw;
  transform: translateX(-50%);
  margin-left: 50%;
  pre {
    margin: 0px auto;
    max-width: 900px;
    padding: 1em 2em;
    font-size: 90%;
    line-height: 1.2rem;
    code {
      color: #111;
    }
  }
}

.cm {
  color: #555;
  font-style: italic;
}
.k {
  color: #009e73;
}
.mi, .mf {
  color: #d55e00;
}
.o {
  color: #56b4e9;
}
.s {
  color: #cc79a7;
}

.opinion {
  border-left: 2px solid rgb(219, 221, 220);
  color: #444;
  margin-left: -8px;
  padding-left: 4px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fcfdfe;
  padding: 2em 1em;
  width: 46%;
  margin: 2%;
  float: left;
  font-size: 90%;
  .launch {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background-color: #fafbfc;
    margin-left: -1em;
    margin-right: -1em;
    padding: 0.5em;
    text-align: center;
    font-weight: 500;
  }
  .head {
    text-align: center;
    font-weight: 500;
    font-size: 110%;
    margin-top: 0em;
  }
}
