$color-bg: rgb(250, 250, 250);
$color-fg: rgb(30, 30, 30);

html {
  background-color: $color-bg;
  color: $color-fg;
}

.lead {
  color: darken($color-fg, 20%);
}

.topbar {
  background-color: lighten($color-bg, 50%);
}

.callout, .card {
  border: 1px solid darken($color-bg, 10%);
  background-color: lighten($color-bg, 5%);
}
