@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,500,500i|IBM+Plex+Sans+Condensed:400,700|IBM+Plex+Sans:400,400i,500,500i');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,400i,500,500i|Barlow:400,400i,500,500i');

$font-body: "Barlow", sans-serif;
$font-title: "Barlow Condensed", sans-serif;
$font-mono: "Hack", monospace;

body, html {
  font-family: $font-body;
}

.topbar, h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}


pre, code {
  font-family: $font-mono;
  font-size: 90%;
}

b, strong {
  font-weight: 500;
}
