<section id="navigation">
    <img src="/logo.png" height=60px width=60px />
    <span class="header">
        <span class="title"><a href="/">{{ .Site.Params.title }}</a></span>
        <span class="subtitle">{{ .Site.Params.subtitle }}</span>
    </span>
    <span class="main">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
    </span>
    <nav class="sidebar-nav">


</nav>

</section>
