<section class="resource">
    <h1>{{ .Title }}</h1>
    <div class="listicle start">
         <i class="fas fa-play-circle fa-fw"></i> <b>{{ .Title }}:</b> <a href="{{ .Permalink }}" class="lessonlink">start the lesson</a>
    </div>
    <div class="readingtime listicle">
        <i class="fas fa-stopwatch fa-fw"></i> <b>Reading time:</b> {{div .WordCount .Site.Params.readingSpeed}} minutes
    </div>
    {{ with .Params.status }}
        <div class="packages listicle">
            <i class="fas fa-signal fa-fw"></i> <b>Status:</b>
            <span class="status {{.}}">{{ . }}</span>
        </div>
    {{ end }}
    {{ with .Params.concepts }}
        <div class="keywords listicle">
            <i class="fas fa-tags fa-fw"></i> <b>Key concepts:</b>
            {{ range . }}
            <span class="keyword listicleitem">{{ . }}</span>
            {{ end }}
        </div>
    {{ end }}
    {{ with .Params.packages }}
        <div class="packages listicle">
            <i class="fas fa-box fa-fw"></i> <b>Extra packages:</b>
            {{ range . }}
            <span class="package listicleitem">{{ . }}</span>
            {{ end }}
        </div>
    {{ end }}
    <div class="summary">{{ .Summary }}</div>

</section>
