<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ site.title }} > {{ page.title}}</title>
  <meta name="description" content="Scientific computing for the rest of us">
  <meta name="author" content="Timothée Poisot">

  <link rel="stylesheet" href="/resources/css/style.css">

  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

  <div class="topbar">

    <span class="title">{{ site.title }}</span> <span class="subtitle">{{ site.subtitle }}</span>
    <div class="links">
      <a href="/">Home</a></span>
      <a href="/lessons/">Lessons</a></span>
      <a href="#" class="disabled">Capstones</a></span>
    </div>

  </div>

  <div class="content">
    {{ content }}
  </div>

  <script src="js/scripts.js"></script>
</body>
</html>
