<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ site.title }} > {{ page.title}}</title>
  <meta name="description" content="Scientific computing for the rest of us">
  <meta name="author" content="Timothée Poisot">

  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
  <link rel="stylesheet" href="/resources/css/style.css">

  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  extensions: ["tex2jax.js"],
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
  inlineMath: [ ['$','$'], ["\\(","\\)"] ],
  displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
  processEscapes: true
  },
  "HTML-CSS": { availableFonts: ["TeX"] }
  });
  </script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>

</head>

<body>

  <div class="topbar">

    <img src="/resources/images/logo.png" alt="">

    <span class="title">{{ site.title }}</span> <span class="subtitle">{{ site.subtitle }}</span>
    <div class="links">
      <a href="/">Home</a>
      <span class="sep">./</span>
      <a href="/lessons/">Lessons</a>
      <a href="#" class="disabled">Capstones</a>
      <span class="sep">./</span>
      <a href="{{ site.github }}" target="_blank">Source</a>
    </div>

  </div>

  {% if page.url contains "lessons" %}
  <div class="sidebar">
    <a target="_blank" href="https://gitter.im/ScientificComputingForTheRestOfUs/Lobby" class="item">G</a>
    <a target="_blank" href="{{ site.github }}/issues/{{page.meta.issue}}/" class="item">F</a>
    <a target="_blank" href="{{ site.github }}/labels/{{page.meta.label}}/" class="item">H</a>
  </div>
  {% endif %}

  <div class="content">
    {{ content }}
  </div>

  <script src="js/scripts.js"></script>
</body>
</html>
